@model P2_2020SS603_2017LM602_2015CG601.Models.CasosReportados

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CasosReportados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="departamento_id" class="control-label"></label>
                <input asp-for="departamento_id" class="form-control" />
                <span asp-validation-for="departamento_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genero_id" class="control-label"></label>
                <input asp-for="genero_id" class="form-control" />
                <span asp-validation-for="genero_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmados" class="control-label"></label>
                <input asp-for="confirmados" class="form-control" />
                <span asp-validation-for="confirmados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recuperados" class="control-label"></label>
                <input asp-for="recuperados" class="form-control" />
                <span asp-validation-for="recuperados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fallecidos" class="control-label"></label>
                <input asp-for="fallecidos" class="form-control" />
                <span asp-validation-for="fallecidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
